@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: rgb(235, 233, 233);
}

.wrapper {
  min-width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1500px;
  margin: 60px auto;
}
@media (max-width: 1400px) {
  .container {
    width: 100%;
    padding: 0 30px;
  }
}

.palette {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  width: 250px;
  height: 300px;
  background: white;
  border-radius: 10px;
  padding: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.card:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.card__color {
  width: 100%;
  height: 85%;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__lock {
  width: 80px;
  height: 80px;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -moz-user-select: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.card__lock_pre-active {
  opacity: 0.1;
}
.card__lock_active {
  opacity: 1;
}
.card__text {
  -moz-user-select: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
}
.card__canvas {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.refresh-btn {
  width: 250px;
  min-height: 65px;
  border-radius: 10px;
  background: rgb(236, 184, 41);
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  position: fixed;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
@media (min-width: 991px) {
  .refresh-btn:hover {
    background: rgb(213, 162, 21);
  }
}